header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right:0;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 10px;
    background: rgb(85, 4, 4);
}

a {
    font-size: 1.5em;
    text-decoration: none;
    margin: 15px;
    color: beige; 
}

.logo {
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.current {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

body {
    margin-top: 10%;
    background-image: url("BarnesNNoble.jpg");
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;

}


.ugh { 
    margin: 5%;
    background-color: beige;
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
}
.ugh h1 {
    font-family: 'Franklin Gothic Medium';
}

.book {
    border: 1px solid black;
    margin-top: 30px;
    padding: 15px;
    align-items: center;
    width: fit-content;
    min-width: 45%;
    background-color: #f4f8dd ;
    
    color: rgb(34, 24, 24);
    box-shadow: 3px 3px 5px black;
    
}
.comments {
    border: 1px solid black;
    width: fit-content;
    background-color: silver ;
}
.comments li {
    padding-right: 10px;
}

  
label {
    position: center
}
.formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 1px solid black;
    box-shadow: 3px 3px 5px black;
    z-index: 9;
}
.bookForm {
    max-width: 300px;
    padding: 20px;
    background-color: silver;
}
.bookForm input[type=text] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #f4f8dd;
}
.bookForm input[type=text]:focus {
    background-color: white;
    outline: none;
}
.bookForm .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 50%;
    margin-bottom: 15px;
    
}
.bookForm .cancel {
    background-color: #cc0000;
}
.bookForm .btn:hover {
    opacity: 1;
}



.about {
    width: 90%;
    border: 1px solid black;
    background-color: silver;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 3px 3px 5px black;

}

.about p {
    font-size: 1.3em;
}

.contact {
    border: 1px solid black;
    background-color: silver;
    width: 50%;
    margin: auto;
}
.contactDiv {
    margin-top:;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 3px 3px 5px black;
    font-size: 50px;
}
.contactDiv p, .contactDiv a  {
    margin: auto;
    padding: 15px;
}

.contactDiv a {
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: gold;
    opacity: 1;
    box-shadow: 3px 3px 5px black;
    

}
.contactDiv a:hover {
    opacity: 1;
}

// <-- wont allow me to comment, please delete before running